.headerWrap {
    /* width: 100%; */
    width: calc(100% - 40px);
    max-width: 1060px;
    height: 90px;
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}

.headerBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogo {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo img {
    width: 100%;
    height: auto;
    -webkit-filter: brightness(0) invert(1); 
    filter: brightness(0) invert(1);
}

.headerMenuWrap {
    display: flex;
    align-items: center;
}

.headerMenu {
    font-size: 12px;
    line-height: 23px;
    font-weight: 600;
    padding: 0 15px;
    letter-spacing: .4em;
}

.headerMenu:last-of-type {
    padding-right: 0;
}

.mobMenuButton {
    display: none;
    /*width: 50px;*/
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #232B77;
}

.menuIcon {
    width: 26px;
    height: 16px;
}

.menuIcon>rect {
    width: 23px;
    height: 2px;
    fill: #232B77;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.menuIcon .top{
    -webkit-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
}

.menuIcon .mid{
    -webkit-transform: translateY(44%);
    -o-transform: translateY(44%);
    transform: translateY(44%);
}

.menuIcon .bot{
    -webkit-transform: translateY(88%);
    -o-transform: translateY(88%);
    transform: translateY(88%);
}

.menuIcon.open {
    width: 15px;
    height: 15px;
}

.menuIcon.open>rect {
    width: 128.1%;
    height: 2px;
}

.menuIcon.open .top{
    -webkit-transform: translate(12%, 0%) rotate(45deg);
    -o-transform: translate(12%, 0%) rotate(45deg);
    transform: translate(12%, 0%) rotate(45deg);
}

.menuIcon.open .mid{
    width: 0;
}

.menuIcon.open .bot{
    -webkit-transform: translate(0%, 88%) rotate(-45deg);
    -o-transform: translate(0%, 88%) rotate(-45deg);
    transform: translate(0%, 88%) rotate(-45deg);
}


@media (min-width: 1921px) {
    .headerWrap {
        /* width: 100%; */
        width: calc(100% - 2.0833vw);
        max-width: 55.2083vw;
        height: 4.6875vw;
        padding: 0 1.0417vw;
    }
    
    .headerLogo {
        width: 2.8646vw;
        height: 2.8646vw;
    }
    
    .headerMenu {
        font-size: 0.625vw;
        line-height: 1.1979vw;
        padding: 0 0.7813vw;
        letter-spacing: .4em;
    }
    
}

@media (max-width: 1024px) {
    .headerWrap {
        width: calc(100% - 40px);
        padding: calc(env(safe-area-inset-top)) 20px 0 20px;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        /*padding: 0 20px;*/
        background-color: #FFF;
    }

    .headerBox {
        position: relative;
        background-color: #FFF; 
        z-index: 200;
    }

    .mobMenuButton {
        display: flex;
    }

    .headerMenuWrap {
        width: calc(100% - 40px);
        /* display: none; */
        position: absolute;
        top: 69px;
        left: 0;
        flex-direction: column;
        background-color: #FFF;
        padding: 0 20px;
        z-index: 100;
        transform: translateY(-100%);
        transition: all .3s ease-in-out;
    }

    .headerMenuWrap.menuOpen {
        /* display: flex; */
        transform: translateY(0%);
    }

  
    .headerMenu {
        width: 100%;
        color: #232B77;
        padding: 15px 0;
        box-sizing: border-box;
        border-bottom: 1px solid #232B77;
    }

    .headerMenu:last-of-type {
        border-bottom: none;
    }
    
    .headerLogo {
        width: 50px;
        height: 50px;
    }

    .headerLogo img {
        -webkit-filter: none;
        filter: none;
    }
  }
