.homeWrap {
  position: relative;
  z-index: 1;
}

.backgroundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 3s ease;
  -webkit-transition: all 3s ease;
}

.backgroundVideo.show {
  opacity: 1;
}

.homeLogoWrap {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeLogoWrap img {
  max-width: 400px;
  height: 100%;
  object-fit: contain;
}

.loadingWrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #232b77;
  z-index: 9999;
  opacity: 1;
  transition: all 3s ease;
  -webkit-transition: all 3s ease;
}

.loadingWrap.hide {
  opacity: 0;
  z-index: 0;
}

.loadingWrap .loadingLogoBox {
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingWrap .loadingLogoBox img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

@media (max-width: 1024px) {
  .homeLogoWrap {
    height: calc(100vh - 130px);
    padding-top: 70px;
  }

  .homeLogoWrap img {
    width: 70%;
    max-width: 400px;
  }

  .backgroundVideo {
    height: calc(100vh - 70px);
    top: 70px;
  }
}

.video {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
