.modalWrap {
    width: 70vw;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
}

.modalBody {

}

.modalClose {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.modalClose img {
    width: 25px;
    height: auto;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.videoWrap {
    padding-top: 56.25%;
    position: relative;
}

.videoBox {
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 1921px) {
    .modalClose {
        width: 1.5625vw;
        height: 1.5625vw;
        margin-bottom: 0.7813vw;
    }
    
    .modalClose img {
        width: 1.3021vw;
    }
}

@media (max-width: 1024px) {
    .modalWrap {
        width: 90vw;
    }
}
