.wrap {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}

.title {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    padding: 40px 0;
}

.contentWrap {

}

.contentBox {

}

@media (min-width: 1921px) {
    .wrap {
        max-width: 57.2917vw;
    }

    .title {
        font-size: 1.4583vw;
        line-height: 1.6667vw;
        padding: 2.0833vw 0;
    }
}

@media (max-width: 1024px) {
    .title {
        padding-top: 130px;
        font-size: 28px;
        line-height: 32px;
    }
}