.categoryTabBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryTab {
    font-size: 12px;
    line-height: 23px;
    padding: 0 10px;
    cursor: pointer;
}

.categoryTab.active {
    font-weight: 800;
}

.contentListWrap {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
    /* border: 1px solid black; */
}

.contentListBox {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: pointer;
    /*opacity: 1;*/
    /*transform: scale(0.001);*/
    /*transition-property: opacity, transform;*/
    /*transition-duration: 0.4s;*/
    /*transition-delay: 0ms;*/
}

.contentListBox.noDisplay {
    display: none;
}

.contentList {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.contentList img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contentList:hover img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}